{% block html_head_container %}
	{% include 'html-header.twig' %}
		{% block head %}
		{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
			<div class="menu js-menu main-phase-3 sub-phase-3">
				<nav class="menu__bar menu__bar--main">
		            <div class="menu__bar__offer">
		                <a target="_blank" href="http://apple.co/1TTB47u">Download NOISE</a> free now
		            </div>
		            <div class="menu__toggle">
		                <div class="icon-bar"></div>
		                <div class="icon-bar"></div>
		                <div class="icon-bar"></div>
		                <span class="sr-only">Toggle navigation</span>
		            </div>
		            <div class="menu__bar__inner">
		                <div data-section="branding" class="menu__section menu__section--branding">
		                    <a href="{{roli_url}}">
		                        <svg viewBox="0 0 35.4 54.2" alt="ROLI" class="svg-icon svg-logo">
		                            <use xlink:href="#icon-monogram"></use>
		                        </svg>
		                    </a>
		                </div>
		                <ul data-section="products" class="menu__section menu__section--products">
		                    <li class="menu__item">
		                        <a href="{{roli_url}}/noise" class="menu__link">NOISE</a>
		                    </li>
		                    <li class="menu__item">
		                        <a href="{{roli_url}}/products/seaboard-rise" class="menu__link">RISE</a>
		                    </li>
		                    <li class="menu__item">
		                        <a href="{{roli_url}}/products/seaboard-grand" class="menu__link">GRAND</a>
		                    </li>
		                </ul>

		                <ul data-section="other" class="menu__section menu__section--other">
		                    <li class="menu__item menu__item--primary"><a href="{{roli_url}}/store" class="menu__link">Store</a></li>
		                    <li class="menu__item">
		                        <a href="{{roli_url}}/about" class="menu__link">About</a>
		                    </li>
		                    <li class="menu__item">
		                        <a href="https://support.roli.com" class="menu__link">Support</a>
		                    </li>
		                    <li class="menu__item menu__item--em">
		                        <a href="https://my.roli.com/" class="menu__link">My ROLI</a>
		                    </li>
		                </ul>
		            </div>
		        </nav> 
    		</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    	<script type="text/javascript" src="{{site.theme.link}}/webpack/dist/bundle.js" charset="utf-8"></script>
		{% block scripts %}    
		{% endblock %}

	</body>
</html>