<div class="newsletter-signup">

	<p>
		Sign up for our newsletter for occasional updates and special offers.
	</p>
	<form action="//roli-labs.us6.list-manage.com/subscribe/post?u=de5b31d43bd17b6dd173ed2b4&amp;id=59b0b574d5" class="newsletter-signup__form" method="post" id="mailing-list" >
		<label for="newsletter" class="sr-only">Newsletter Signup</label>
		<input name="EMAIL" id="newsletter" type="email" placeholder="Your email address" class="btn-light newsletter-signup__email" required>
		<div style="position: absolute; left: -5000px;"><input type="text" name="b_de5b31d43bd17b6dd173ed2b4_59b0b574d5" tabindex="-1" value=""></div>
		<input name="subscribe" type="submit" value="Sign up" class="btn-secondary btn-chunky newsletter-signup__submit">
	</form>

</div>
<footer class="roli-footer">
	<div class="roli-footer__wrapper wrapper">
		<div class="row">
			<div class="col-1 col-md-3">
				<div class="roli-footer__colophon">
					<a href="{{roli_url}}">
						<svg viewBox="0 0 100 45.8" class="svg-icon svg-icon-footer-logo">
							<use xlink:href="#icon-logo-footer"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="col-1 col-md-8">
				<div class="col-md-3">
					<ul class="roli-footer__links">
						<li><a href="{{roli_url}}/about">About</a></li>
						<li><a href="{{roli_url}}/team">Our Team</a></li>
						<li><a href="{{roli_url}}/careers">Careers</a></li>
						<li><a href="{{roli_url}}/blog">Blog</a></li>
						<li><a href="{{roli_url}}/contact">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul class="roli-footer__links">
						<li>
							<a href="{{roli_url}}/products/seaboard-grand">Seaboard GRAND</a>
						</li>
						<li>
							<a href="{{roli_url}}/products/seaboard-rise">Seaboard RISE</a>
						</li>
						<li>
							<a href="{{roli_url}}/noise">NOISE</a>
						</li>
						<li>
							<a href="{{roli_url}}/technology">SEA Interface</a>
						</li>
						<li>
							<a href="{{roli_url}}/juce">JUCE</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul class="roli-footer__links">
						<li><a href="https://support.roli.com">Support</a></li>
						<li><a target="_blank" href="https://www.youtube.com/playlist?list=PLyYxAIH3vCoo7R4LaEGnBN-KlhtQY2DPl">Tutorials</a></li>
						<li><a href="{{roli_url}}/education">Education</a></li>
						<li><a href="{{roli_url}}/press-room">Press</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul class="roli-footer__links">
						<li><a class="roli-footer__links-title">Shop:</a></li>
						<li><a href="/">Store</a></li>
						<li><a href="{{roli_url}}/products/seaboard-grand/where-to-buy">Where to Buy</a></li>
						<li><a class="roli-footer__links-title">My ROLI:</a></li>
						<li><a href="https://accounts.roli.com/users/sign_in">Register / Login</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-1">
				<ul class="list-unstyled roli-footer__social">
					<li>
						<a href="https://www.facebook.com/ROLI" title="Facebook">
							<svg viewBox="0 0 50 50" class="svg-icon svg-icon-footer">
								<use xlink:href="#icon-facebook"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/WeAreROLI" title="Twitter">
							<svg viewBox="0 0 50 50" class="svg-icon svg-icon-footer">
								<use xlink:href="#icon-twitter"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/channel/UCz5nFP_ySbbsmo1tWldOuZA" title="Youtube">
							<svg viewBox="0 0 50 50" class="svg-icon svg-icon-footer">
								<use xlink:href="#icon-youtube"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="https://soundcloud.com/weareroli" title="Soundcloud">
							<svg viewBox="0 0 50 50" class="svg-icon svg-icon-footer">
								<use xlink:href="#icon-soundcloud"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>	
		</div>
		
	</div>
</footer>
<div class="bottom-bit">
	<div class="bottom-bit__wrapper wrapper">
		<span class="bottom-bit__copyright pull-left">Copyright &copy; 2015 <a href="{{roli_url}}//">ROLI</a> Ltd. All rights reserved.</span>
		<span class="bottom-bit__legal pull-right" >
			<a href="{{roli_url}}/legal">Legal</a>
			| <a href="{{roli_url}}/legal/privacy-policy">Privacy</a>
			| <a href="{{roli_url}}/legal/cookie-policy">Cookies</a>
		</span>	
	</div>
	
</div>
